body
{
    font: 500;
    padding: 0;
    margin: 0;
    margin-top: 0;
}
.open
{
    display:flexbox;
    justify-content: space-between;
}
.MODAU{
    height: 40%;
    width: 80%;
    max-height: 100px;
    margin: auto;
    overflow: hidden;
    

}
.MODAU img{
    height: 10%;
    width: 10%;
    float: left;
    margin-top: 5px;}
header
{
    background: gray;
    border-bottom: darkblue 2px solid;}

    
 .chu{
     padding-top: 40px;
 }   

header h1{
    font-size: 4rem;
    letter-spacing: 1px;
    font-family: fantasy;
    float:  left;
    color: lightgoldenrodyellow;
}
header li
{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    margin-top: 0;
    
}
 #bb
{
    float: left;
    display: inline;
    justify-content: space-between;
   
    
}
#bb h1{
    margin: 1rem;
}
header nav
{
    float:right ;
    margin-top: 3rem;
    
}
header a{
    text-transform: uppercase;
    text-decoration: none;

    color: floralwhite;
    font-size: 20px;
}
header a:hover{
    color:black;
    font-weight: bold;
}
#HINHMOI
{
  float: right;
    margin-top: 15PX;
}
#hinhanh
{
    background: url('../hinhanh.jpg') no-repeat 0 -1400px;
    min-height: 400px;
    overflow: hidden;
}
#hinhanh h1
{
    color: honeydew;
    font-size: 3rem;
    text-align: center;
    margin-top: 15px;
}
#hinhanh p{
    color: lightgray;
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
    padding-top: 1px;
}
#hinhanh input
{
    
    padding-left: 20px;
    padding-right: 20px;
   height: 30px;
}


#hinhanh form
{
    text-align: center;
  
}
.but
{
    height: 36px;
    background-color: orange;
    border: 0;
}
.drop
{
    display: none;
    
 
}
#dropdown li:hover .drop{
   display: block;
    height: 100px;
    width: 60px;
    
}
 .drop{
    position: absolute;}
.drop li a{
    display: block;
    width: 250px;
    
    padding: 10px 0 0 ;
    color: black;
    font-size: 17px;
    font-weight: 1rem;
    position: relative;
    right: 55px;
}
.drop{
    height: 80px;
    width: 120px;
    background-color: rgb(202, 148, 0);
    border: none;
    margin: 0;
}
.hinhpubg
{
    margin: 50px 20px;
   display: flex;
  justify-content: space-between;

  
    
    
}
.hin{
    height: 300px;
    width: 400px;
    
}


    
}
.new{
    
    max-width: 350px;
    display: block;
    padding: 0 20px;
    position:relative;
    flex-basis: 20%;
}
.ti
{
    text-align: center;
    font-size: 40px;
}
footer {
    background-color: rgb(221, 221, 221);
    overflow: hidden;
    text-align: left;
}
footer div h4{ 
    padding-left:  10px;
}
